.container-cook {
  padding-left: 50px;
  padding-top: 50px;
}

.nav-title {
  font-family: system-ui;
  font-weight: 200;
  font-size: 20px;
  color: white;
}

li {
  padding-bottom: 10px;
  list-style: none;
}